.about-header {
    background-color: var(--background-color);
}

.about-banner {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-banner .banner-text div {
    display: flex;
    align-items: center;
}

.about-banner .banner-text div i {
    padding: 0px 8px;
    color: var(--hover-color);
}

.about-banner .banner-image {
    width: 60%;
}

.about-banner .banner-image img {
    width: 100%;
    border-radius: 40px;
}

.about-banner h1, .about-title h1 {
    font-size: var(--big-banner-font-size);
}

.lending-area {
    margin: 60px 0px;
}

.about-content {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-content > div {
    width: 100%;
}

.about-content > div img {
    width: 100%;
}

.about-text {
    margin-top: 30px;
}

.about-cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.about-cards .card {
    text-align: center;
    padding: 20px;
    width: 150px;
    height: auto;
    box-shadow: 0px 12px 24px rgb(47 65 129 / 10%);
    border-radius: 10px;
}

.about-cards .card h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.about-cards .card span {
    font-size: 26px;
    color: var(--hover-color);
}

.mission-area {
    text-align: center;
    padding: 50px 20px;
    max-width: 100%;
}

.mission h1 {
    font-size: 40px;
    color: white;
    position: absolute;
}

.mission {
    margin: auto;
    margin-bottom: 40px;
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 12px 24px rgb(47 65 129 / 10%);
    background: linear-gradient(105deg, var(--hover-color) 40%, white 40.2%);
}

.mission .mission-title {
    width: 40%;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission .mission-text {
    width: 60%;
}

.mission p {
    margin: auto;
    padding: 0px 10px;
}

.values {
    background-color: var(--background-color);
    padding: 60px 10px;
    margin: 60px 0px;
}

.values .value-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value-title {
    width: 50%;
    text-align: center;
    margin: auto;
}

.value-title p:first-child {
    color: var(--head-alt-color);
    font-weight: 700;
    margin-bottom: 10px;
}

.value-title h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.value-cards {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.value-cards .card-wrapper {
    text-align: center;
    width: 250px;
    height: 100%;
}

.value-cards .card-wrapper .thumb {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    color: #FFFFFF;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-cards .card-wrapper .thumb img {
    max-width: 100%;
    height: auto;
}

.value-cards .card-wrapper h3 {
    margin-bottom: 10px;
}


@media (max-width: 1024px) {
    .about-banner h1, .about-title h1 {
        font-size: var(--medium-banner-font-size);
    }
    
    .about-content {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .about-content > div {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .about-banner {
        width: 80%;
    }

    .about-banner .banner-image {
        display: none;
    }

    .value-title {
        width: 80%;
    }

    .mission {
        width: 100%;
    }

    .mission h1 {
        font-size: 28px;
    }
    
    .mission p {
        font-size: 12px;
    }
}


@media (max-width: 460px) {
    .about-content > div {
        width: 100%;
    }

    .value-title {
        width: 100%;
    }

    .mission-area {
        padding: 50px 15px;
    }

    .mission {
        flex-direction: column;
        background: white;
    }
    
    .mission .mission-title {
        background: var(--hover-color);
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 0;
    }
    
    .mission .mission-text {
        width: 100%;
        padding: 25px 0px
    }
}