.business-header {
    background-color: #007aff12;
}

.business-banner {
    width: 80%;
    margin: auto;
    padding: 100px 20px;
}

.business-banner h1   {
    font-size: 42px;
}

.business-banner > div {
    display: flex;
    align-items: center;
}

.business-banner > div i {
    padding: 0px 8px;
    color: var(--hover-color);
}

.business-loans {
    margin: 6% 0;
    padding: 50px 20px;
}

.business-card {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    
}

.business-image {
    width: 100%;
}

.business-image img {
    width: 100%;
}

.business-card > div:first-child {
    margin-bottom: 20px;
}

.business-text-wrapper {
    width: 100%;
}

.business-loan-text {
    margin: 0px 0px 40px;
    width: 100%;
}

.business-loan-text p:first-child {
    color: var(--head-alt-color);
    font-weight: 700;
    margin-bottom: 10px;
}

.business-loan-text h1 {
    font-size: 42px;
}

.business-loan-btn {
    margin-top: 30px;
    margin-right: 40px;
    padding: 20px 30px;
    background-color: var(--hover-color);
    color: var(--body-color);
    outline: none;
    border: none;
    border-radius: 50px;
}

.business-loan-btn a {
    text-decoration: none;
    color: #FFFFFF;
}

.objectives  div {
    display: flex;
    align-items: center;
}
.objectives p {
    margin: 0;
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: 400;
    color: var(--para-color);
    line-height: 30px;
}

.objectives a {
    color: var(--hover-color);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.objectives i {
    padding-right: 10px;
    color: var(--head-alt-color);
    font-size: 20px;
}

.values {
    background-color: var(--background-color);
    padding: 60px 10px;
    margin: 60px 0px;
}

.loan-calculator-area .loan-calc-wrapper {
    padding: 0 10px;
    width: 95%;
    text-align: center;
    margin: auto;
}

.loan-calc-wrapper .title p{
    font-weight: 700;
    color: var(--head-alt-color);
    margin-bottom: 10px;
}

.loan-calc-wrapper .title h1, .calculator-wrapper h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.loan-calc-wrapper .calculator-wrapper {
    margin-top: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 12px 24px rgb(47 65 129 / 10%)
}

.loan-calculator-area .form-group {
    text-align: center;
}

.form-group .range-amount h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group .range-amount label {
    display: inline-block;
}

.form-group .range-amount input {
    width: 25%;
}

.calculator-wrapper .months-tabs {
    padding: 0 30px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.calculator-wrapper .months-tabs .tab-item-btn {
    padding: 10px 30px 15px;
    font-weight: 500;
    text-align: center;
    color: #0A1023;
    background: transparent;
    border: 1px solid #848894;
    transition: 0.3s;
    border-radius: 50px;
}

.calculator-wrapper .installment {
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-content > .tab-pane.active {
    display: block;
}

.tab-content>.tab-pane {
    display: none;
}

.fade {
    transition: opacity .15s linear;
}

.cmn-btn {
    padding: 10px 30px 15px;
    font-weight: 500;
    text-align: center;
    background: var(--hover-color);
    color: var(--body-color);
    border: 1px solid var(--hover-color);
    transition: 0.3s;
    border-radius: 50px;
}

.values .value-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value-title {
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: auto;
}

.value-title p:first-child {
    color: var(--head-alt-color);
    font-weight: 700;
    margin-bottom: 10px;
}

.value-title h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.value-cards {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.value-cards .card-wrapper {
    width: 220px;
    height: 100%;
}

.value-cards .card-wrapper h3 {
    font-size: 24px;
}

.value-cards .card-wrapper .thumb {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    background-color:  var(--background-color);
    color: #FFFFFF;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-cards .card-wrapper .thumb img {
    max-width: 100%;
    height: auto;
}

.value-cards .card-wrapper h3 {
    margin-bottom: 10px;
}

.personal {
    text-align: center;
}

.card-wrapper.personal .thumb {
    margin: auto;
    margin-bottom: 30px;
}

.light {
    background-color: var(--background-color);
}

@media screen and (max-width: 768px) {
    .business-card {
        justify-content: center;
        align-self: center;
    }

    .business-image {
        display: none;
    }
    
}
 
@media screen and (max-width: 460px) {
    .business-banner {
        width: 100%;
    }
}