.business-header {
    background-color: #007aff12;
}

.business-banner {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.business-banner h1   {
    font-size: var(--big-banner-font-size);
}

.business-banner .banner-text > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.business-banner .banner-text > div i {
    padding: 0px 8px;
    color: var(--hover-color);
}

.business-banner .banner-image {
    width: 60%;
}

.business-banner .banner-image img {
    width: 100%;
    border-radius: 40px;
}

.business-loans {
    margin: 6% 0;
    padding: 50px;
}

.business-card {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    
}

.business-image {
    width: 100%;
}

.business-image img {
    width: 100%;
}

.business-card > div:first-child {
    margin-bottom: 20px;
}

.business-text-wrapper {
    width: 100%;
}

.business-loan-text {
    margin: 0px 0px 40px;
    width: 100%;
}

.business-loan-text p:first-child {
    color: var(--head-alt-color);
    font-weight: 700;
    margin-bottom: 10px;
}

.business-loan-text h1 {
    font-size: 42px;
}

.business-loan-btn {
    margin-top: 30px;
    margin-right: 40px;
    padding: 15px 30px;
    background-color: var(--hover-color);
    color: var(--body-color);
    outline: none;
    border: none;
    border-radius: 50px;
}

.business-loan-btn a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Jost;
}

.objectives  div {
    display: flex;
    align-items: center;
}
.objectives p {
    margin: 0;
    font-family: var(--body-font);
    font-size: 18px;
    font-weight: 400;
    color: var(--para-color);
    line-height: 30px;
}

.objectives a {
    color: var(--hover-color);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.objectives i {
    padding-right: 10px;
    color: var(--head-alt-color);
    font-size: 20px;
}

.values {
    background-color: var(--background-color);
    padding: 60px 10px;
    margin: 60px 0px;
}

.loan-calculator-area .loan-calc-wrapper {
    padding: 0 10px;
    width: 95%;
    text-align: center;
    margin: auto;
}

.loan-calc-wrapper .title p{
    font-weight: 700;
    color: var(--head-alt-color);
    margin-bottom: 10px;
}

.loan-calc-wrapper .title h1, .calculator-wrapper h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.loan-calc-wrapper .calculator-wrapper {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 12px 24px rgb(47 65 129 / 10%);
    padding: 20px 0px;
    max-width: 1200px
}

.calculator-wrapper form {
    padding: 20px 20px 30px;
    width: 100%;
    margin: auto;
}

.loan-calculator-area .form-group {
    text-align: center;
}

.form-group .range-amount h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group .range-amount label {
    display: inline-block;
    font-size: 26px;
}

.form-group .range-amount label span {
    color: var(--head-alt-color);
    font-size: 30px;
}

.form-group .range-amount input {
    width: 25%;
    padding: 0;
    margin: 0;
    color: var(--head-alt-color);
    background: transparent;
    border: none;
    font-weight: inherit;
    font-size: inherit;
    font-family: Jost;
    font-size: 30px;
    display: block;
}

.form-group #loan-slide {
    margin: 35px 0px 44px;
}

.form-group #loan-slide .thumb_range {
    height: 10px;
    margin-top: 7px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    background: #EEF1FF;
    width: 90%;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: #EEF1FF;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: none;
    color: transparent;
}

#input {
    --webkit-appearance: none;
    background: linear-gradient(to right, var(--hover-color) 0%, var(--hover-color) 50%, var(--background-color) 50%, var(--background-color) 100%);;
}

input[type="range"]::-moz-range-progress {
    background-color: var(--hover-color);
}

input[type="range"]::-ms-fill-lower {
    background-color: var(--hover-color);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: var(--hover-color);
    cursor: pointer;
    border: none;
    position: relative;
    box-shadow: 0px 4px 4px rgb(53 78 133 / 30%);
    height: 40px;
    width: 40px;
    z-index: 6;
    top: -16px;
  }

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: var(--hover-color);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgb(53 78 133 / 30%);
    height: 40px;
    width: 40px;
    z-index: 6;
    top: -16px;
  }

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: var(--hover-color);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgb(53 78 133 / 30%);
    height: 40px;
    width: 40px;
    z-index: 6;
    top: -16px;
  }

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer; 
}

.calculator-wrapper .months-tabs {
    padding: 0 20px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    gap: 10px;
}

.calculator-wrapper .months-tabs .tab-item-btn {
    padding: 15px 30px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
    color: #0A1023;
    background: transparent;
    border: 1px solid #848894;
    transition: 0.3s;
    border-radius: 50px;
}

.calculator-wrapper .installments {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tab-content h5 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tab-content h5 span {
    color: var(--head-alt-color);
    font-size: inherit;
    font-weight: inherit;
}

.tab-content>.tab-pane.active {
    display: block;
    opacity: 1;
}


.months-tabs .tab-item .tab-item-btn.highlight {
    color: var(--body-color);
    background: var(--hover-color);
    border: 1px solid var(--hover-color);
}

.fade:not(.show) {
    opacity: 0;
}

.show {
    animation-name: show;
    animation-duration: 1s;
}

.fade {
    transition: opacity .15s linear;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.tab-content>.tab-pane {
    display: none;
}

.cmn-btn {
    padding: 15px 30px;
    font-weight: 500;
    text-align: center;
    background: var(--hover-color);
    color: var(--body-color);
    border: 1px solid var(--hover-color);
    transition: 0.3s;
    border-radius: 50px;
    text-decoration: none;
    font-family: Jost;
}

.cmn-btn a  {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
}

.values .value-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value-title {
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: auto;
}

.value-title p:first-child {
    color: var(--head-alt-color);
    font-weight: 700;
    margin-bottom: 10px;
}

.value-title h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.value-cards {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.value-cards .card-wrapper {
    width: 90%;
    max-width: 300px;
    height: auto;
    padding: 30px 20px;
    background: var(--body-color);
    box-shadow: 0px 12px 24px rgb(47 65 129 / 10%);
    border-radius: 20px;
}

.value-cards .card-wrapper h3 {
    font-size: 24px;
}

.value-cards .card-wrapper .thumb {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    background-color:  var(--background-color);
    color: #FFFFFF;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-cards .card-wrapper .thumb img {
    max-width: 100%;
    height: auto;
}

.value-cards .card-wrapper h3 {
    margin-bottom: 10px;
}

.personal {
    text-align: center;
}

.card-wrapper.personal .thumb {
    margin: auto;
    margin-bottom: 30px;
}

#business_loan_application .application-card {
    transform: none;
}

.light {
    background-color: var(--background-color);
}

@media screen and (max-width: 1024px) {
    .business-banner h1 {
        font-size: var(--medium-banner-font-size);
    }
}

@media screen and (max-width: 768px) {
    .business-card {
        justify-content: center;
        align-self: center;
    }

    .business-banner .banner-image {
        display: none;
    }

    .business-image {
        display: none;
    }   
}
 
@media screen and (max-width: 460px) {
    .business-banner {
        width: 100%;
    }

    .business-loans {
        margin: 6% 0;
        padding: 50px 20px;
        margin-bottom: 5%;
    }

    .calculator-wrapper .installments {
        padding-top: 40px;
    }

    .cmn-btn {
        margin-top: 10px;
    }

    .form-group .range-amount h4 label {
        font-size: 18px;
    }

    .form-group .range-amount input {
        font-size: 16px;
    }

    .tab-content h5 {
        font-size: 18px;
    }

    input[type="range"]::-webkit-slider-thumb {
        height: 30px;
        width: 30px;
        top: -12px;
    }
    
    input[type="range"]::-moz-range-thumb {
        height: 30px;
        width: 30px;
        top: -12px;
    }
    
    input[type="range"]::-ms-thumb {
        height: 30px;
        width: 30px;
        top: -12px;
    }

    .business-loan-text h1, .business-banner h1 {
        font-size: 40px;
    }

    .loan-calc-wrapper .title h1 {
        font-size: 40px;
    }

    .calculator-wrapper h1 {
        font-size: 24px;
    }

    .loan-calculator-area .loan-calc-wrapper {
        width: 100%;
        padding: 0 5px;
    }

    .loan-calc-wrapper .calculator-wrapper {
        width: 95%;
    }

    .loan-calc-wrapper .title {
        padding: 0 10px;
    }

    .calculator-wrapper form {
        padding: 20px 0px 30px;
    }

    .form-group .range-amount label span {
        font-size: 16px;
    }
}