.loan-application-area {
    background: var(--background-color);
    padding: 100px 0px 250px 0;
}

.loan-application-area .wrapper {
    width: 100%;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

.application-title p:first-child {
    color: var(--head-alt-color);
    font-weight: 600;
}

.application-title h1 {
    font-size: 36px;
}

.application-card {
    background: #FFFFFF;
    margin: auto;
    margin-top: 40px;
    border-radius: 30px;
    box-shadow: 0px 12px 24px rgb(47 65 129 / 10%);
    width: 95%;
    max-width: 700px;
    transform: translateY(-230px);
}

.application-card .application-heading {
    width: 60%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.application-card .application-heading h1 {
    font-size: 32px;
}

.application-form {
    width: 100%;
    margin-top: 20px;
}

.application-form form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.application-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 20px;
}

.application-form .form-group label {
    font-weight: 600;
    margin-bottom: 3px;
}

.application-form .form-group input {
    padding: 15px;
    width: 95%;
    background: var(--background-color);
    outline: none;
    border: none;
    border-radius: 5px;
}

.form-group input::placeholder {
    font-family: Jost;
}

.personal-loan-btn {
    margin: auto;
    margin-top: 30px;
    padding: 20px 0px;
    width: 200px;
    background-color: var(--hover-color);
    color: var(--body-color);
    outline: none;
    border: none;
    border-radius: 50px;
}

.personal-loan-btn a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Jost;
}

.values.personal {
    background: none;
}

@media (max-width: 460px) {
    .application-form .form-group {
        width: 100%;
    }

    .application-form .form-group input  {
        width: 100%;
    }
}